# Be sure to restart your server when you modify this file

# Specifies gem version of Rails to use when vendor/rails is not present
RAILS_GEM_VERSION = '2.3.4' unless defined? RAILS_GEM_VERSION

# Bootstrap the Rails environment, frameworks, and default configuration
require File.join(File.dirname(__FILE__), 'boot')

Rails::Initializer.run do |config|
  # Settings in config/environments/* take precedence over those specified here.
  # Application configuration should go into files in config/initializers
  # -- all .rb files in that directory are automatically loaded.

  # Add additional load paths for your own custom dirs
  # config.load_paths += %W( #{RAILS_ROOT}/extras )

  # Specify gems that this application depends on and have them installed with rake gems:install
  # config.gem "bj"
  # config.gem "hpricot", :version => '0.6', :source => "http://code.whytheluckystiff.net"
  # config.gem "sqlite3-ruby", :lib => "sqlite3"
  # config.gem "aws-s3", :lib => "aws/s3"

  # Only load the plugins named here, in the order given (default is alphabetical).
  # :all can be used as a placeholder for all plugins not explicitly named
  # config.plugins = [ :exception_notification, :ssl_requirement, :all ]

  # Skip frameworks you're not going to use. To use Rails without a database,
  # you must remove the Active Record framework.
  # config.frameworks -= [ :active_record, :active_resource, :action_mailer ]

  # Activate observers that should always be running
  # config.active_record.observers = :cacher, :garbage_collector, :forum_observer

  # Set Time.zone default to the specified zone and make Active Record auto-convert to this zone.
  # Run "rake -D time" for a list of tasks for finding time zone names.
  config.time_zone = 'UTC'

  # The default locale is :en and all translations from config/locales/*.rb,yml are auto loaded.
  # config.i18n.load_path += Dir[Rails.root.join('my', 'locales', '*.{rb,yml}')]
  # config.i18n.default_locale = :de
end

MY_MONITORS=[
  SystemMonitor::SysMonitor.new('root@ib1.iboard.cc', 'Disk usage ib1', 'df', '-h|grep sd'),
  SystemMonitor::SysMonitor.new('root@ib1.iboard.cc', 'Syslod ib1', 'uptime', ''),
  SystemMonitor::SysMonitor.new('root@ib1.iboard.cc', 'Mailqueue ib1', 'mailq', '|tail -1'),
  
  SystemMonitor::SysMonitor.new('root@s1.iboard.cc', 'Disk usage s1', 'df', '-h|grep md'),
  SystemMonitor::SysMonitor.new('root@s1.iboard.cc', 'Syslod S1', 'uptime', ''),
  
  SystemMonitor::SysMonitor.new('root@xmail.wwedu.com', 'Disk usage XMAIL', 'df', '-h|grep disk'),
  SystemMonitor::SysMonitor.new('root@xmail.wwedu.com', 'Mailqueue XMAIL', 'mailq', '|tail -1'),
  
  SystemMonitor::SysMonitor.new('root@dwarf-1.wwedu.com', 'Mailqueue dwarf-1', 'mailq', '|tail -1')
]

REMOTE_ASSERTS=[
  SystemMonitor::RemoteAssert.new('root@ib1.iboard.cc', 'Root partition usage ib1', 'df|grep "/dev/sda2"', 4, 'INTEGER < 80 && STRING != ""'),
  SystemMonitor::RemoteAssert.new('root@s1.iboard.cc', 'Root partition usage s1', 'df|grep "/dev/md2"', 4, 'INTEGER < 80 && STRING != ""'),
  SystemMonitor::RemoteAssert.new('root@ib1.iboard.cc', 'Sysload ib1', 'uptime',-3,'FLOAT < 1.00'),
  SystemMonitor::RemoteAssert.new('root@ib1.iboard.cc', 'ib1 Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""'),
  SystemMonitor::RemoteAssert.new('root@s1.iboard.cc', 'Sysload s1', 'uptime',-3,'FLOAT < 1.00'),
  SystemMonitor::RemoteAssert.new('root@xmail.wwedu.com', 'XMAIL Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""'),
  SystemMonitor::RemoteAssert.new('root@dwarf-1.wwedu.com', 'dwarf-1 Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""'),
  SystemMonitor::RemoteAssert.new('root@cluster.wwedu.com', 'Root partition usage cluster', 'df|grep "hafs"', 4, 'INTEGER < 80 && STRING != ""'),
  SystemMonitor::RemoteAssert.new('root@cluster.wwedu.com', 'Sysload cluster', 'uptime',-3,'FLOAT < 1.00'),
  SystemMonitor::RemoteAssert.new('root@cluster.wwedu.com', 'cluster Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""')
]