<% title 'System Monitoring' %>
<h2>HELP</h2>
<%= render :partial => "/layouts/menu" -%>

<h3>How SystemMonitor works</h3>
<ol>
    <li>Install SystemMonitor from GitHub http://github.com/iboard</li>
    <li>Edit config/environment.rb and define your monitors and asserts like shown below</li>
    <li>Make sure your server can access the remote hosts through ssh with ssh-keys without password</li>
    <li>Start the server with <code>script/server</code> and call <code>http://yourserver:yourport/</code></li>
</ol>

<h3>Definitions</h3>
<p>Edit your <em>environment.rb</em> and add your definitions there...</p>

<h4>SystemMonitor</h4>
<code>remotehost, name, command, parameters</code>
<p>
    <em>command</em> will be executed by ssh using <em>remotehost</em>.
    The output of this ssh-request will be displayed
</p>

<h4>RemoteAssert</h4>
<code>remotehost, name, command, word, assert</code>
<p>
    <em>ssh remotehost command</em> will be execuded.
    The output will be split by 'spaces' and word number <em>word</em> will be returned as value. (first word is 0).
    This <em>value</em> will be used as FLOAT,INTEGER,STRING in the assert-command.
</p>

<h4>Examples</h4>
<pre><small>
    MY_MONITORS=[
      SystemMonitor::SysMonitor.new('root@ib1.iboard.cc', 'Disk usage ib1', 'df', '-h|grep sd'),
      SystemMonitor::SysMonitor.new('root@ib1.iboard.cc', 'Syslod ib1', 'uptime', ''),
      SystemMonitor::SysMonitor.new('root@ib1.iboard.cc', 'Mailqueue ib1', 'mailq', '|tail -1'),

      SystemMonitor::SysMonitor.new('root@s1.iboard.cc', 'Disk usage s1', 'df', '-h|grep md'),
      SystemMonitor::SysMonitor.new('root@s1.iboard.cc', 'Syslod S1', 'uptime', ''),

      SystemMonitor::SysMonitor.new('root@xmail.wwedu.com', 'Disk usage XMAIL', 'df', '-h|grep disk'),
      SystemMonitor::SysMonitor.new('root@xmail.wwedu.com', 'Mailqueue XMAIL', 'mailq', '|tail -1'),

      SystemMonitor::SysMonitor.new('root@dwarf-1.wwedu.com', 'Mailqueue dwarf-1', 'mailq', '|tail -1')
    ]

    REMOTE_ASSERTS=[
      SystemMonitor::RemoteAssert.new('root@ib1.iboard.cc', 'Root partition usage ib1', 'df|grep "/dev/sda2"', 4, 'INTEGER < 80 && STRING != ""'),
      SystemMonitor::RemoteAssert.new('root@s1.iboard.cc', 'Root partition usage s1', 'df|grep "/dev/md2"', 4, 'INTEGER < 80 && STRING != ""'),
      SystemMonitor::RemoteAssert.new('root@ib1.iboard.cc', 'Sysload ib1', 'uptime',10,'FLOAT < 1.00'),
      SystemMonitor::RemoteAssert.new('root@s1.iboard.cc', 'Sysload s1', 'uptime',10,'FLOAT < 1.00'),
      SystemMonitor::RemoteAssert.new('root@xmail.wwedu.com', 'XMAIL Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""'),
      SystemMonitor::RemoteAssert.new('root@dwarf-1.wwedu.com', 'dwarf-1 Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""'),
      SystemMonitor::RemoteAssert.new('root@ib1.iboard.cc', 'ib1 Mailqueue', 'mailq|tail -1',4,'INTEGER < 30 && STRING != ""')
    ]
</small></pre>